nav {
    color: white;
    font-weight: bold;
    display: flex;
    justify-content: flex-end;
}

.home {
    margin-left: 14px;
}

.home:hover {
    cursor: pointer;
    color: rgb(233, 193, 231);
}
